# Assigning Grades Question from InterviewQs
In this notebook the question solved by using python.

## Question
## Date: September 20, 2021  

![Question](question.png)

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({"student_name": ["Cindy Chu", "Mike Alvarez", "Adam Schultz", "Emma Mcdaniel"], "student_id": ["1837204", "1824635", "1945278", "1725488"], "class": ["Biology", "Physics", "Chemistry", "Mathematics"], "final_grade_pct": [80, 88, 91, 67]})
df

    student_name student_id        class  final_grade_pct
0      Cindy Chu    1837204      Biology               80
1   Mike Alvarez    1824635      Physics               88
2   Adam Schultz    1945278    Chemistry               91
3  Emma Mcdaniel    1725488  Mathematics               67

In [3]:
df["final_grade_letter"] = df["final_grade_pct"].map(lambda x: "A" if x > 90 else "B" if x > 80 else "C" if x > 70 else "D")
df

    student_name student_id        class  final_grade_pct final_grade_letter
0      Cindy Chu    1837204      Biology               80                  C
1   Mike Alvarez    1824635      Physics               88                  B
2   Adam Schultz    1945278    Chemistry               91                  A
3  Emma Mcdaniel    1725488  Mathematics               67                  D